.form {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  background-color: #eaf1fc;
  border-radius: 5px;
  width: 100%;
}

.nav-links {
  padding: 0 0;
  padding-bottom: 7px;
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: left;
  padding-left: 10px;
  background-color: green;
  padding-bottom: 20px;
}

.nav-links>a{
  font-family: 100px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

input:checked + label {
  background-color: #cdd3db;
}
.input {
  padding: 5px;
  min-width: 100px;
  border-radius: 3px;
}

.input:focus {
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}


@font-face{
  font-family: B-bold;
  src: url(./fonts/Roboto-Bold.ttf);
}

@font-face{
  font-family: blackItalic;
  src: url(./fonts/Roboto-BlackItalic.ttf);
}

@font-face{
  font-family: Regular;
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face{
  font-family: T-thin;
  src: url(./fonts/Roboto-Thin.ttf);
}

button{
  cursor: pointer;
  font-size: 32px !important;
}