* {
  margin: 0;
  padding: 0;
  font-family: Regular;
}

#root {
  height: 75vh;
  width: 100vw;
  overflow: scroll;
  border: 0.1 px solid red;
  margin-top: 10px;
  position: relative;
  box-sizing: border-box;
}

#header {
  width: fit-content;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 120;
}

.head-cell {
  min-width: 200px;
  height: 20px;
  border: 1px solid #2d302e;
  border-top-width: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4ebf7;
}

.first {
  min-width: 42px !important;
  background-color: rgb(134, 133, 133);
  border: none;
  position: sticky;
  top: 0;
  left: 0;
}

#body {
  display: grid;
  grid-template-columns: 42px auto;
  width: fit-content;
}

#sno {
  position: sticky;
  left: 0;
  z-index: 100;
  background-color: #fff;
  position: sticky;
}

.sno-cell {
  height: 30px;
  font-size: 16px;
  border: 0.1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4ebf7;
}

.row {
  display: flex;
}

.cell {
  border: 0.1px solid #c4c7c5;
  min-width: 200px;
  height: 30px;
}

.cell:focus {
  outline: 2px solid blue;
}

#cell-state {
  display: flex;
  padding: 10px 100px;
  align-items: center;
}

#options {
  padding: 10px;
  margin-bottom: 10px;
}

#cell-state div {
  padding: 11px;
  border-radius: 4px;
}
#cell-state input {
  flex-grow: 1;
  padding: 10px;
}

#cell-state input focus {
  outline: none;
}
